// _button.scss
@use '../abstracts/variables.scss';

.burger-button {
	width: 46px;
	height: 46px;
	background-color: variables.$black;
	color: variables.$white;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
