// _mobile-menu.scss
@use '../abstracts/variables.scss';

.mobile-menu {
	padding: 1em;
	background-color: variables.$white;
	color: variables.$black;
}

.slideout-panel {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 2px;
		height: 100%;
		background-color: variables.$black;
	}
}
